body{
  background-image: url("fondo_pagina.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: black;
}
table{
  margin-right: auto;
  margin-left:  auto;
  width: 65%;
  height: 65%;
  border-collapse: collapse;
}
button{
  background-color: #466648;
  border-radius: 8px;
  color: white;
  margin: 0 auto;
}
td{
  border:none;
  padding-bottom: 20px;
}
div > p{
  display: inline;
}
div > button{
  display: block;
}
/* aixo estableix la perspectiva del container a 1000px */
.flip-container, .clicked, .clicked2{
  perspective: 1000px;
  margin: 0 auto;
}
/* gira el panelL al fer clic */
.clicked .flipper, .clicked2 .flipper{
  transform: rotateY(180deg);
  width: 125px;
  height: 150px;
  perspective: 1000px;
  margin: 0 auto;
}
.forever .flipper{
  transform: rotateY(180deg);
  width: 125px;
  height: 150px;
  perspective: 1000px;
  margin: 0 auto;
}
.flip-container, .front, .back {
  width: 125px;
  height: 150px; 
}
/* aixo controla la velocitat del flip */
.flipper {
  transition: 1.0s;
  transform-style: preserve-3d;
  position: relative;
}
/* aixo amaga la part de darrere del pane mentre es giren */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* amaga el panell frontal darrere de la carta */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
/* mostra la carta inicialment amagada */
.back {
  transform: rotateY(180deg);
}
/* edito les fotos */
.fotos{
  width: 100%;
  height: 100%; 
  border-radius: 20px;
}
#results{
  border-radius: 100px;
  font-size: 15px;  
  border: 5px dashed #466648;
  width: 90%;
  height: 65px;
  margin-left: 5%;
  margin-right: 5%;
  border-collapse: separate;
  border-spacing: 10px 50px;
  background-color: #b2ffb6;
}
#final_results{
  width: 50%;
  float: left;
  text-align: center;
  height: 100%;
}
#ayudaRestante{
  display: inline;
}