body{
  background-image: url("fondo_pagina.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: black;
}
table{
	width: 90%;
}
table,td{
  margin-right: auto;
  margin-left:  auto;
  text-align: center;
  background-color: #b2ffb6;
}
th {
    background-color: #466648;
    color: white;
    margin-right: auto;
  	margin-left:  auto;
  	text-align: center;
}
td,th{
	vertical-align: bottom;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px; 
	padding-left: 30px;
	border-bottom: 3px solid #ddd;
}
#botonStart{
  background-color: #466648;
  color: white;
}
td:hover{
  background-color:#466648;
  color: white;
}
#rank{
    background-color: #b2ffb6;
}
#segundodiv{
  width: auto;
  height: 50px;
}
p{
  float: left;
}
form{
  float: left;
  padding-top: 15px;
  padding-left: 200px;
}
.igual{
  width: 50%;
  float: left;
  border-collapse: collapse;
  border: 4px solid black;
}